.main-footer {
    background-color: $accent2;
    padding-top: 80px;
    .main-footer__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 80px;
        .quick-links {
            h4 {
                font-size: 20px;
                line-height: 78px;
                color: #e7d5ad;
                font-weight: 400;
                font-family: $defaultFont;
            }
            ul li a {
                text-decoration: none;
                font-size: 15px;
                line-height: 28px;
                color: #cdcdcd;
                font-weight: 400;
                font-family: $specialFont;
                &:hover {
                    font-weight: 700;
                }
            }
            ul li {
                &::before {
                    content: '>';
                    color: #cdcdcd;
                    font-family: $defaultFont;
                    margin-right: 5px;
                }
            }
            &:nth-child(3) .flex-container {
                display: flex;
                flex-wrap: wrap;
                column-gap: 100px;
            }
            address {
                text-decoration: none;
                font-size: 15px;
                line-height: 28px;
                color: #cdcdcd;
                font-weight: 400;
                font-family: $specialFont;
                i {
                    padding-right: 10px;
                }
            }
            .social-nav {
                padding-top: 20px;
                display: flex;
                justify-content: space-between;
                li::before {
                    display: none;
                }
                div {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                }
                li:first-child div {
                    background-color: #4fa9ef;
                }
                li:nth-child(2) div {
                    background-color: #395799;
                }
                li:nth-child(3) div {
                    background-color: #e14931;
                }
                li:nth-child(4) div {
                    background-color: #cd1d1d;
                }
                li:last-child div {
                    background-color: #3d719b;
                }
            }
        }
    }
    .main-footer__bottom {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        .left {
            p {
                font-size: 14px;
                line-height: 20px;
                color: #cdcdcd;
                font-weight: 400;
                font-family: "Roboto";
                span {
                    color: $accent3;
                    font-weight: 700;
                }
            }
        }
        .right {
            p {
                font-size: 14px;
                line-height: 20px;
                color: #cdcdcd;
                font-weight: 400;
                font-family: "Roboto";
                span {
                    color: $accent3;
                    font-weight: 700;
                }
            }
        }
    }
}