.booking {
  padding: 100px 50px;
  background: linear-gradient(180deg, #fef8ec 65%, #3a5065 65%);
}

h2 {
  font-size: 51px;
  line-height: 30px;
  color: black;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 80px;
}

.form-wrapper {
  background-color: #0b131d;
  padding: 30px;
  position: relative;
}

form {
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  outline: none;
  width: 300px;
}

select {
  padding: 10px;
  outline: none;
  width: 300px;
}

input[type="submit"] {
  margin-top: 20px;
  height: 60px;
  border: none;
  font-size: 18px;
  color: #e7d5ad;
  background-color: #3a5065;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Lora", sans-serif;
  text-align: center;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #e7d5ad;
  color: #3a5065;
}

.ticket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 35px black;
  padding: 30px;
  display: none;
}

#show {
  padding: 10px;
  width: 300px;
  margin-top: 30px;
  height: 60px;
  border: none;
  font-size: 18px;
  color: #e7d5ad;
  background-color: #3a5065;
  font-weight: 700;
  font-family: "Lora", sans-serif;
  text-align: center;
  cursor: pointer;
}

#show:hover {
  background-color: #e7d5ad;
  color: #3a5065;
}