html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  width: 100%;
  background-color: #fef8ec;
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */
.container {
  padding: 0 360px;
}
@media (min-width: 871px) and (max-width: 1224px) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 870px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1225px) and (max-width: 1600px) {
  .container {
    padding: 0 200px;
  }
}

/* HOMEPAGE */
.main-header {
  background-color: #fef8ec;
}
.main-header .main-header__nav {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-header .main-header__nav .main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.main-header .main-header__nav .main-nav .main-nav__item {
  position: relative;
}
.main-header .main-header__nav .main-nav .main-nav__item a {
  text-decoration: none;
  font-size: 18px;
  color: #3a5065;
  font-family: "Lora", sans-serif;
}
.main-header .main-header__nav .main-nav .main-nav__item a i {
  font-size: 15px;
  color: #797979;
  cursor: pointer;
}
.main-header .main-header__nav .main-nav .main-nav__item a:hover {
  color: #000000;
}
.main-header .main-header__nav .main-nav .main-nav__item a:hover i {
  color: #000000;
}
.main-header .main-header__nav .main-nav .main-nav__item:nth-child(3):hover .dropdown, .main-header .main-header__nav .main-nav .main-nav__item:nth-child(4):hover .dropdown {
  display: block;
}
.main-header .main-header__nav .main-nav .main-nav__item .dropdown {
  width: calc(100% + 20px);
  margin-left: -10px;
  background: #fef8ec;
  position: absolute;
  z-index: 100;
  display: none;
}
.main-header .main-header__nav .main-nav .main-nav__item .dropdown li {
  display: block;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #919191;
}
.main-header .main-header__nav .main-nav .main-nav__item .dropdown li:hover {
  background-color: white;
}
.main-header .main-header__nav .main-nav .search {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  width: 0px;
  transition: width 0.5s;
}
.main-header .main-header__nav .main-nav .search input[type=text] {
  border: none;
  outline: none;
  font-size: 14px;
  color: #919191;
  font-family: "Lora", sans-serif;
  padding: 0;
  background: transparent;
  width: 0px;
  transition: 0.5s;
}
.main-header .main-header__nav .main-nav .search.active {
  background: white;
  padding: 10px;
  width: 200px;
}
.main-header .main-header__nav .main-nav .search.active input[type=text] {
  width: 200px;
  padding: 5px 0;
}

.banner {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .slider {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.banner .btn-prev, .banner .btn-next {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}
.banner .btn-prev:active, .banner .btn-next:active {
  transform: scale(1.1);
}
.banner .btn-prev {
  top: 45%;
  left: 2%;
}
.banner .btn-next {
  top: 45%;
  right: 2%;
}
.banner .slide {
  padding: 0 260px;
  padding-top: 170px;
  padding-bottom: 170px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  position: absolute;
  transition: all 0.5s;
}
.banner .slide h1 {
  font-size: 106px;
  letter-spacing: -4px;
  line-height: 106px;
  color: #FFFFFF;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.banner .slide p {
  font-size: 25px;
  line-height: 35px;
  color: #FFFFFF;
  font-family: "Lora", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}
.banner .slide .btn {
  width: 200px;
  height: 60px;
  border: none;
  font-size: 18px;
  line-height: 53px;
  color: #343434;
  font-weight: 700;
  font-family: "Lora", sans-serif;
  text-align: center;
  cursor: pointer;
}
.banner .slide .btn--primary {
  background-color: #e7d5ad;
}
.banner .slide .btn--primary:hover {
  background-color: #FFFFFF;
}

.welcome {
  padding: 170px 0;
  background-color: #fef8ec;
}
.welcome .container .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.welcome .container .flex-container .welcome__title {
  width: 45%;
  position: relative;
}
.welcome .container .flex-container .welcome__title h2 {
  font-size: 71px;
  line-height: 81px;
  color: #111111;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: right;
}
.welcome .container .flex-container .welcome__title h2::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  background-color: #000000;
  width: 50px;
  height: 6px;
}
.welcome .container .flex-container .welcome__content {
  width: 50%;
}
.welcome .container .flex-container .welcome__content p {
  font-size: 18px;
  line-height: 35px;
  color: #3a5065;
  font-family: "Lora", sans-serif;
  margin-bottom: 40px;
}
.welcome .container .flex-container .welcome__content span {
  font-weight: 700;
}
.welcome .container .flex-container .welcome__content .btn {
  width: 200px;
  height: 60px;
  border: none;
  font-size: 18px;
  line-height: 53px;
  color: #343434;
  font-weight: 700;
  font-family: "Lora", sans-serif;
  text-align: center;
  cursor: pointer;
}
.welcome .container .flex-container .welcome__content .btn--special {
  background-color: transparent;
  border: 2px solid #000000;
}
.welcome .container .flex-container .welcome__content .btn--special:hover {
  background-color: #000000;
  color: #fef8ec;
  border: none;
}

.featured-packages {
  padding: 170px 0;
  padding-bottom: 340px;
  background-color: #0b131d;
  background-image: url("../images/bg-packages.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom -400px;
}
.featured-packages h2 {
  font-size: 51px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 80px;
}
.featured-packages h2::before {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 4px;
  height: 50px;
  background-color: black;
}
.featured-packages h2::before {
  background-color: #ffffff;
}
.featured-packages .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 60px;
}
.featured-packages .grid-container .package {
  /* background: linear-gradient(135deg, transparent 30px, #ddd, 0);
  margin: 1px;
  clip-path: polygon(
      0 0,
      10% 0,
      100% 0,
      100% 10%,
      100% 90%,
      90% 100%,
      0% 100%,
      0% 90%,
      0% 10%
  ); */
}
.featured-packages .grid-container .package svg {
  position: absolute;
}
.featured-packages .grid-container .package img {
  width: 100%;
  padding-bottom: 20px;
  padding-top: -10px;
  padding-left: -10px;
  padding-right: -10px;
  position: relative;
  z-index: 999;
}
.featured-packages .grid-container .booking-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
}
.featured-packages .grid-container .booking-info span:first-child {
  font-size: 14px;
  line-height: 24px;
  color: #d5d5d5;
  font-family: "Lora", sans-serif;
}
.featured-packages .grid-container .booking-info span:last-child {
  font-size: 20px;
  line-height: 24px;
  color: #e7d5ad;
  font-weight: 700;
  font-family: "Lora", sans-serif;
}
.featured-packages .grid-container .booking-info span:last-child::before {
  content: "$";
  font-size: 14px;
  position: relative;
  bottom: 6px;
}
.featured-packages .grid-container h4 {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 0 30px;
  padding-top: 20px;
}
.featured-packages .grid-container p {
  font-size: 16px;
  line-height: 26px;
  color: #cdcdcd;
  font-family: "Lora", sans-serif;
  padding: 0 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.featured-packages .grid-container .btn--reverse {
  width: 200px;
  height: 60px;
  border: none;
  font-size: 18px;
  line-height: 53px;
  color: #343434;
  font-weight: 700;
  font-family: "Lora", sans-serif;
  text-align: center;
  cursor: pointer;
  background-color: #3a5065;
  color: #e7d5ad;
  margin: 0 30px;
  position: relative;
  z-index: 2;
}
.featured-packages .grid-container .btn--reverse:hover {
  background-color: #e7d5ad;
  color: #3a5065;
}

.destinations {
  margin-top: -200px;
  padding-bottom: 170px;
}
.destinations h2 {
  font-size: 51px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 80px;
}
.destinations h2::before {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 4px;
  height: 50px;
  background-color: black;
}
.destinations h2::before {
  background-color: #ffffff;
}
.destinations .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.destinations .grid-container .destination {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.destinations .grid-container .destination img {
  width: 100%;
  height: 200px;
}
.destinations .grid-container .destination h3 {
  font-size: 26px;
  line-height: 24px;
  text-transform: uppercase;
  color: #111111;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 20px;
}
.destinations .grid-container .destination a {
  text-decoration: none;
  font-size: 15px;
  line-height: 52px;
  color: #3a5065;
  font-weight: 700;
  font-family: "Lora", sans-serif;
  text-align: center;
}
.destinations .grid-container .destination a:hover {
  color: #000000;
}

.reasons {
  padding-bottom: 100px;
  background-image: url("../images/bg-reasons.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.reasons h2 {
  font-size: 51px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #3a5065;
  padding-bottom: 80px;
}
.reasons h2::before {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 4px;
  height: 50px;
  background-color: black;
}
.reasons .grid-container {
  display: grid;
  grid-template-areas: "a b c c" "d e c c";
  grid-gap: 40px;
}
.reasons .grid-container .reason {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.reasons .grid-container .reason h4 {
  font-size: 20px;
  line-height: 22px;
  color: #111111;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.reasons .grid-container .reason p {
  font-size: 16px;
  line-height: 24px;
  color: #383838;
  font-family: "Lora", sans-serif;
  text-align: center;
  padding-bottom: 10px;
}
.reasons .grid-container .reason a {
  text-decoration: none;
  font-size: 14px;
  line-height: 52px;
  color: #3a5065;
  font-weight: 700;
  font-family: "Lora", sans-serif;
}
.reasons .grid-container .reason a:hover {
  color: #000000;
}
.reasons .grid-container .area-a {
  grid-area: a;
}
.reasons .grid-container .area-b {
  grid-area: b;
}
.reasons .grid-container .area-e {
  grid-area: e;
}
.reasons .grid-container .area-d {
  grid-area: d;
}
.reasons .grid-container .reasons__photo {
  grid-area: c;
}

.reviews {
  padding-top: 170px;
  padding-bottom: 170px;
  background-color: #3a5065;
}
.reviews h2 {
  font-size: 51px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 80px;
}
.reviews h2::before {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 4px;
  height: 50px;
  background-color: black;
}
.reviews h2::before {
  background-color: white;
}
.reviews .reviews__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.reviews .reviews__images img:nth-child(4) {
  background-color: pink;
  border: 4px solid #FFFFFF;
}
.reviews .reviews__images img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
}
.reviews .reviews__text {
  background-color: #FFFFFF;
  padding: 60px;
  margin-top: -20px;
}
.reviews .reviews__text blockquote {
  font-size: 20px;
  line-height: 34px;
  color: #111111;
  font-family: "Lora";
  text-align: center;
  padding-bottom: 20px;
}
.reviews .reviews__text blockquote::after {
  content: url(../images/stars.svg);
  display: block;
  padding-top: 20px;
}
.reviews .reviews__text p {
  font-size: 16px;
  line-height: 24px;
  color: #3a5065;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.reviews .reviews__text p span {
  font-size: 20px;
  font-weight: 700;
  font-family: "Lora";
}

.recommendations {
  padding: 170px 0;
  padding-bottom: 370px;
}
.recommendations h2 {
  font-size: 51px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #000000;
  padding-bottom: 80px;
}
.recommendations h2::before {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 4px;
  height: 50px;
  background-color: black;
}
.recommendations .grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.recommendations .grid-container .img-wrapper {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-posts {
  margin-top: -200px;
  padding-bottom: 500px;
  background-image: url("../images/bg-blog.png"), linear-gradient(180deg, #fef8ec 20%, #0b131d 20%);
  background-size: cover;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
.blog-posts h2 {
  font-size: 51px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #000000;
  padding-bottom: 80px;
}
.blog-posts h2::before {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 4px;
  height: 50px;
  background-color: black;
}
.blog-posts .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.blog-posts .grid-container .post svg {
  position: absolute;
}
.blog-posts .grid-container .post img {
  width: 100%;
  padding-bottom: 20px;
  padding-top: -10px;
  padding-left: -10px;
  padding-right: -10px;
  position: relative;
  /*  z-index: 999; */
  z-index: 10;
}
.blog-posts .grid-container .post h4 {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 0 30px;
}
.blog-posts .grid-container .post p {
  font-size: 16px;
  line-height: 26px;
  color: #cdcdcd;
  font-family: "Lora", sans-serif;
  padding: 0 30px;
  padding-bottom: 20px;
}
.blog-posts .grid-container .post .author-info p {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 14px;
  padding-top: 20px;
}
.blog-posts .grid-container .post .author-info p span {
  color: #e7d5ad;
}
.blog-posts button {
  width: 200px;
  height: 60px;
  border: none;
  font-size: 18px;
  line-height: 53px;
  color: #343434;
  font-weight: 700;
  font-family: "Lora", sans-serif;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: #e7d5ad;
  border: 2px solid #e7d5ad;
  margin-top: 80px;
  margin-bottom: 120px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.blog-posts button:hover {
  background-color: #e7d5ad;
  color: #0b131d;
}

.subscription {
  margin-top: -500px;
  margin-bottom: 60px;
}
.subscription .flex-container {
  display: flex;
  flex-wrap: wrap;
}
.subscription .flex-container .subscription__form {
  width: 50%;
  background-color: #e7d5ad;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscription .flex-container .subscription__form h3 {
  font-size: 32px;
  line-height: 22px;
  color: #0b0b0b;
  font-weight: 500;
  font-family: "Roboto";
  padding-bottom: 20px;
}
.subscription .flex-container .subscription__form p {
  font-size: 16px;
  line-height: 24px;
  color: #545454;
  font-family: "Lora";
  padding-bottom: 30px;
}
.subscription .flex-container .subscription__form .form {
  width: 100%;
  display: flex;
}
.subscription .flex-container .subscription__form input {
  padding: 0 30px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 53px;
  color: #919191;
  font-family: "Lora", sans-serif;
  width: 60%;
}
.subscription .flex-container .subscription__form input::-moz-placeholder {
  font-family: "Lora", sans-serif, FontAwesome;
  color: #d3d3d3;
}
.subscription .flex-container .subscription__form input:-ms-input-placeholder {
  font-family: "Lora", sans-serif, FontAwesome;
  color: #d3d3d3;
}
.subscription .flex-container .subscription__form input::placeholder {
  font-family: "Lora", sans-serif, FontAwesome;
  color: #d3d3d3;
}
.subscription .flex-container .subscription__form button {
  padding: 0 30px;
  border: none;
  font-size: 14px;
  line-height: 53px;
  text-transform: uppercase;
  color: #e7d5ad;
  font-weight: 700;
  font-family: "Lora", sans-serif;
  background: #3a5065;
  cursor: pointer;
}
.subscription .flex-container .subscription__form button:hover {
  background-color: #fef8ec;
  color: #3a5065;
}
.subscription .flex-container .subscription__image {
  width: 50%;
}
.subscription .flex-container .subscription__image img {
  width: 100%;
}

.main-footer {
  background-color: #3a5065;
  padding-top: 80px;
}
.main-footer .main-footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 80px;
}
.main-footer .main-footer__links .quick-links h4 {
  font-size: 20px;
  line-height: 78px;
  color: #e7d5ad;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.main-footer .main-footer__links .quick-links ul li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 28px;
  color: #cdcdcd;
  font-weight: 400;
  font-family: "Lora", sans-serif;
}
.main-footer .main-footer__links .quick-links ul li a:hover {
  font-weight: 700;
}
.main-footer .main-footer__links .quick-links ul li::before {
  content: ">";
  color: #cdcdcd;
  font-family: "Roboto", sans-serif;
  margin-right: 5px;
}
.main-footer .main-footer__links .quick-links:nth-child(3) .flex-container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.main-footer .main-footer__links .quick-links address {
  text-decoration: none;
  font-size: 15px;
  line-height: 28px;
  color: #cdcdcd;
  font-weight: 400;
  font-family: "Lora", sans-serif;
}
.main-footer .main-footer__links .quick-links address i {
  padding-right: 10px;
}
.main-footer .main-footer__links .quick-links .social-nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.main-footer .main-footer__links .quick-links .social-nav li::before {
  display: none;
}
.main-footer .main-footer__links .quick-links .social-nav div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.main-footer .main-footer__links .quick-links .social-nav li:first-child div {
  background-color: #4fa9ef;
}
.main-footer .main-footer__links .quick-links .social-nav li:nth-child(2) div {
  background-color: #395799;
}
.main-footer .main-footer__links .quick-links .social-nav li:nth-child(3) div {
  background-color: #e14931;
}
.main-footer .main-footer__links .quick-links .social-nav li:nth-child(4) div {
  background-color: #cd1d1d;
}
.main-footer .main-footer__links .quick-links .social-nav li:last-child div {
  background-color: #3d719b;
}
.main-footer .main-footer__bottom {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.main-footer .main-footer__bottom .left p {
  font-size: 14px;
  line-height: 20px;
  color: #cdcdcd;
  font-weight: 400;
  font-family: "Roboto";
}
.main-footer .main-footer__bottom .left p span {
  color: #e7d5ad;
  font-weight: 700;
}
.main-footer .main-footer__bottom .right p {
  font-size: 14px;
  line-height: 20px;
  color: #cdcdcd;
  font-weight: 400;
  font-family: "Roboto";
}
.main-footer .main-footer__bottom .right p span {
  color: #e7d5ad;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */